{% extends 'base.html' %}
{% block content %}
    <div class="col d-flex mt-5 align-left" >
        &nbsp; 
    </div>
    <div class="feed" style="margin-bottom: 10rem;">
        <h1 class='display-4 mt-4 text-center' style="color: #016064;">
            All Tags
        </h1>
         <ul class="list-group">
        {% for tag in tags %}
           <li class="list-group-item list-group-item-action">
                <a href="{% url 'tag_list' slug=tag.slug %}">#{{tag.text}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock%}