{% extends 'base.html' %}
{% block content %}
    <div>
        <a href="post/add/"><button>Create a new post</button></a>
    </div>
    <div class="feed">
    <h1 class='display-4 mt-4 text-center'>Feed</h1>
    {% if posts %}
        <div class="card-columns">
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
            {% load static %}
                <img class="card-img-top" style="object-fit: cover; height: 18rem;" src="{% static post.image.url|slice:"13:" %}"/>
                <h5 class="card-title">@<a href={% url 'profile' slug=post.author.slug %}>{{ post.author.username }}</a>, {{ post.timestamp }}</h5>
                <p class="card-text"><a href={% url 'post_detail' id=post.id %}>"{{ post.caption|slice:":20" }}{% if post.caption.count > 20 %}[...view more]{%endif%}"</a></p>
                <a href="#" class="card-link">Like</a> Likes do not yet function
                <br>
            </div>
        {% endfor %}
        {% else %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-title"> :( </h5>
            <p> No one you're following has any posts </p>
        </div>
    {% endif %}
    </div>
    </div>
{% endblock %}