{% extends 'base.html'%}
{% block content %}
<div class="col d-flex mt-5 align-left" > &nbsp; </div>
<div class="feed" style="margin-bottom: 10rem;">
    <h1 class='display-3 text-center mt-4' style='color: #016064'>Login</h1>
    <div class="container-fluid">
        <center>
            <div class='mr-6'>
                <h1>BYE</h1>
            Don't have an account? <a href="/register" target="blank"><strong style='color: #016064'>register here</strong></a>!
        </center>
    </div>
</div>

{% endblock %}