{% extends 'base.html' %}
{% block content %}
<h2>{{ user }}'s Profile</h2>
<a href={% url 'edit_profile' slug=request.user.username%}><button>Edit Profile</button></a>
<h3>Name: {{profile.username}}</h3>

<h3>Email: {{profile.bio}}</h3>
{% if posts %}
{% for post in posts %}
{% load static %}
    <img src="{% static post.image.url|slice:"13:" %}"/>
    posted by {{ post.author.username }}
    at {{ post.timestamp }}
    with the caption, "{{ post.caption }}"
    <br>
{% endfor %}
{% endif %}
{% endblock %}