{% extends 'base.html' %}
{% block content %}

<div class='container-fluid mt-3'>
    <div class='row'>
        <div class='col-sm-3'>
            <div class="card align-left" style="width: auto; height: auto">
            {% load static %}
            <img src="{{ profile.profile_picture.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{user.slug}}</h5>
                    <p class="card-text">Bio: {{profile.bio}}</p>
                    <p class="card-text">Website: {{profile.website}}</p>
                    <p class="card-text">Gender: {{profile.gender}}</p>
                    <p class="card-text">Location: {{profile.location}}</p>
                    <p class="card-text">Birthday: {{profile.birthdate}}</p>
                    {% if request.user.is_authenticated %}
                    {% if request.user.username == user.slug %}
                        <a href={% url 'edit_profile' slug=request.user.username%} class="btn btn-primary" style='background-color: #016064'>Edit Profile</a>
                                          
                    {% endif %}
                    {% if not is_following %}
                       <a href={% url 'follow' slug=user.slug %} class="btn btn-primary" style='background-color: #016064; color:white;'>Follow</a>
                    {% else %}
                        <a href={% url 'unfollow' slug=user.slug %} class="btn btn-primary" style='background-color: #016064; color:red;'>Unfollow</a>
                    {% endif %}
                    {% else %}
                        <a href='/login/' class="btn btn-primary disabled" style='background-color: #016064; color:white;'>Follow</a>
                        <a href='/login/'>You have to log in to follow another user.</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class='col-sm-9'>
            <div class='card-columns'>
                {% if posts %}
                {% for post in posts%}
                <div class="card" style="width: 18rem;">
                {% load static %}
                    <img class="card-img-top" src="{{ post.image.url }}" style="object-fit: cover; height: 18rem;"/>
                    <div class="card-body text-center">
                        <a href={% url 'post_detail' id=post.id %}><footer class="blockquote-footer" style='color:#016064;'>{{post.caption}}</footer></a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}