{% extends 'homepage/base.html' %}
{% block content %}
<div class="col d-flex mt-5 align-left" > &nbsp; </div>
    <div class="feed" style="margin-bottom: 10rem;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="input-group mb-3">
                <div class='input-group-append'>
                <button class='btn btn-outline-danger' type='submit' >Delete Comment</button>
                <a class='btn btn-outline-secondary' href="{% url 'home' %}">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}